<DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>attilam.com :: {title}</title>
	<meta name="author" content="Attila Malarik" />
	<meta name="description" content="Attila is constantly tinkering on something, sometimes he writes about it." />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{rss_url}" />
</head>
<body>
<div id="header">
	<div id="logo"><a href="{base_url}">&laquo; ATTILAM.COM</a></div>
</div>
<HR>
<h2>{title}</h2>
{content}
</body>
</html>